.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
storage/app/*
!storage/app/.gitignore
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/database.sqlite
tests
.phpunit.result.cache
README.md
Procfile
